root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:warning
dotnet_style_require_accessibility_modifiers = always:warning
dotnet_diagnostic.CA2007.severity = none

[*.{ts,html,scss,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.mac]
indent_style = space
indent_size = 1
trim_trailing_whitespace = false
